
.x-grid-cell.style1
{
    background-color: rgb(200, 168, 37);
}
.x-grid-cell.style2
{
    background-color: rgb(81, 114, 179);
}
.x-grid-cell.style3
{
    background-color: rgb(92, 48, 71);
}
.x-grid-cell.style4
{
    background-color: rgb(114, 19, 15);
}
.x-grid-cell.style5
{
    background-color: rgb(147, 169, 208);
}
.x-grid-cell.style6
{
    background-color: rgb(165,42,42);
}
.x-grid-cell.style7
{
    background-color: rgb(100,149,237);
}
.x-grid-cell.style8
{
    background-color: rgb(220,20,60);
}
.x-grid-cell.style9
{
    background-color: rgb(0,0,255);
}
.x-grid-cell.style10
{
    background-color: rgb(249, 153, 0);
}

.x-grid-cell.style11
{
    background-color: rgb(49, 149, 0);
}
.x-grid-cell.style12
{
    background-color: rgb(146, 6, 157);
}
.x-grid-cell.style13
{
    background-color: rgb(44, 153, 201);
}
.x-grid-cell.style14
{
    background-color: rgb(213, 70, 121);
}
.x-grid-cell.style15
{
    background-color: rgb(218, 200, 120);
}




